<!DOCTYPE html>
<html lang="en">
<body>
    <footer id="footer">
        <div class="containerFooter">
            <section class="c-footer">
                <ul class="footer-list">
                  <li><a href="/" class="footer-link">Quienes somos</a></li>
                  <li><a href="/" class="footer-link">Mision</a></li>
                  <li><a href="/" class="footer-link">Vision</a></li>
                </ul>
            </section>
            <section class="c-footer">
              <ul class="footer-list">
                <li><a href="/" class="footer-link">Contáctanos</a></li>
                <li><a href="/" class="footer-link">Ubicación</a></li>
                <li><a href="/" class="footer-link">Dirección</a></li>
              </ul>
            </section>
            <section class="c-footer">
                <p class="ta-c">Redes Sociales</p>
                <div class="c-redes">
                  <a href="#"><i class="fab fa-facebook icon"></i></a>
                  <a href="#"><i class="fab fa-instagram icon"></i></a>
                  <a href="#"><i class="fab fa-whatsapp icon"></i></a>
                </div>
            </section>
        </div>
        <section class="copy">
            <p class="ta-c">Copyright © 2021-2022 PantsAlone C.A</p>
        </section>
    </footer>
</body>
</html>