<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main>
      <section class="carrusel">
          <div class="arrow-left">
            <button><i class="fas fa-arrow-left"></i></button>
          </div>
          <div class="c-carrusel">
            <!-- <img src="/img/img-carrusel.svg" alt="pantalones femeninos"> -->
          </div>
          <div class="arrow-right">
            <button><i class="fas fa-arrow-right"></i></button>
          </div>
      </section>
      <section class="c-section">
        <div class="container">
          <div class="sect1">
            <a href="/products" class="sect1-enlace">
              <h3>Pantalones para los nenes...</h3>
              <article class="c-niño-sect1">
                <div class="c-img">
                  <img class="img-pants" src="/img/niño.png" alt="niño modelo">
                </div>
              </article>
            </a>
          </div>
          <div class="sect1">
            <a href="/products" class="sect1-enlace">
              <h3>Pantalones para ellas...</h3>
              <article class="c-niño-sect1">
                <div class="c-img">
                  <img class="img-pants" src="/img/mujer.png" alt="niño modelo">
                </div>
              </article>
            </a>
          </div>
          <div class="sect1">
            <a href="/products" class="sect1-enlace">
              <h3>Pantalones para ellos...</h3>
              <article class="c-niño-sect1">
                <div class="c-img">
                  <img class="img-pants" src="/img/hombre.png" alt="niño modelo">
                </div>
              </article>
            </a>
          </div>
        </div>
      </section>
      <!-- <section class="container">
        <h3>Pantalones para mujeres</h3>
        <article class="c-mujer">
          
        </article>

      </section>
      <section class="container">
        <h3>Pantalones para hombres</h3>
        <article class="c-hombre">
          
        </article>

      </section> -->
    </main>
    <%- include('./partials/footer') %> 
  <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>   
</body>
</html>