<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-img">
                <a class="" href="#"><img class="img-header" src="/img/logo.png" alt=""></a>
            </div>    
            <div class="nav-link" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/productDetail">Detalle del Producto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Registro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/productCart"><i class="fas fa-shopping-cart icon-car"></i></a>
                  </li>
                </ul>
            </div>
            <form class="form-busqueda">
                <input class="form-control" type="search" placeholder="Buscar..." >
                <button class="btn-buscar" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="burger-menu">
              <i class="fas fa-bars"></i>
            </div>
          </nav>
    </header>
    <main>
      <section class="carrusel">
          <div class="arrow-left">
            <button><i class="fas fa-arrow-left"></i></button>
          </div>
          <div class="c-carrusel">
            <!-- <img src="/img/img-carrusel.svg" alt="pantalones femeninos"> -->
          </div>
          <div class="arrow-right">
            <button><i class="fas fa-arrow-right"></i></button>
          </div>
      </section>
      <h3>Pantalones para niños</h3>
      <section class="container">
        <div class="sect1">
          <article class="c-niño-sect1">
            <div class="c-img">
              <img class="img-pants" src="/img/niño1.png" alt="niño modelo">
            </div>
          </article>
        </div>
        <div class="sect2">
          <article class="c-niño-sect2">
            <div class="c-img">
              <img class="img-pants" src="/img/niño2.png" alt="niño modelo">
            </div>
          </article>
          <article class="c-niño-sect2">
            <div class="c-img">
              <img class="img-pants" src="/img/niño3.png" alt="niño modelo">
            </div>
          </article>
          <article class="c-niño-sect2">
            <div class="c-img">
              <img class="img-pants" src="/img/niño4.png" alt="niño modelo">
            </div>
          </article>
          <article class="c-niño-sect2">
            <div class="c-img">
              <img class="img-pants" src="/img/niño5.png" alt="niño modelo">
            </div>
          </article>
          <article class="c-niño-sect2">
            <div class="c-img">
              <img class="img-pants" src="/img/niño6.png" alt="niño modelo">
            </div>
          </article>
          <article class="c-niño-sect2">
            <div class="c-img">
              <img class="img-pants" src="/img/niño7.png" alt="niño modelo">
            </div>
          </article>
        </div>

      <!-- </section>
      <section class="container">
        <h3>Pantalones para mujeres</h3>
        <article class="c-mujer">
          
        </article>

      </section>
      <section class="container">
        <h3>Pantalones para hombres</h3>
        <article class="c-hombre">
          
        </article>

      </section> -->
    </main>
    <footer id="footer">
      <div class="containerFooter">
          <section class="c-footer">
              <ul class="footer-list">
                <li><a href="/" class="footer-link">Quienes somos</a></li>
                <li><a href="/" class="footer-link">Mision</a></li>
                <li><a href="/" class="footer-link">Vision</a></li>
              </ul>
          </section>
          <section class="c-footer">
            <ul class="footer-list">
              <li><a href="/" class="footer-link">Contáctanos</a></li>
              <li><a href="/" class="footer-link">Ubicación</a></li>
              <li><a href="/" class="footer-link">Dirección</a></li>
            </ul>
          </section>
          <section class="c-footer">
              <p class="ta-c">Redes Sociales</p>
              <div class="c-redes">
                <a href="#"><i class="fab fa-facebook icon"></i></a>
                <a href="#"><i class="fab fa-instagram icon"></i></a>
                <a href="#"><i class="fab fa-whatsapp icon"></i></a>
              </div>
          </section>
      </div>
      <section class="copy">
          <p class="ta-c">Copyright © 2021-2022 PantsAlone C.A</p>
      </section>
    </footer>
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>   
</body>
</html>