<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="/css/login.css" rel = "stylesheet">
    <link href= "/css/normalize.css" rel = "stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PantsAlone-login</title>
    
</head>

<form action = "/login" method="post">
    <body>
        <div class="login">
            <br>
            <input type = "text" name "" placeholder = "Nombre de Usuario">
            <br>
            <br>
            <input type = "password" name = "clave" id = "password" placeholder = "Ingresá tu contraseña">
            <br>
            <input type = "radio" name = "recordarme" id = "recordarme">
            <label for ="recordarme">Recordarme</label>
            <br>
            <a href="/" class = "button"><input type="button" value="Enviar"></a>
            <a href="/" class = "button"><input type="button" value="Olvidé mi contraseña"></a>
        </div>
    </body>

</form>