<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="/css/login.css" rel = "stylesheet">
    <link href= "/css/normalize.css" rel = "stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PantsAlone-login</title>
    
</head>

<body>
        <header>
            <nav class="navbar">
                <div class="container-img">
                    <a class="" href="#"><img class="img-header" src="/img/logo.png" alt=""></a>
                </div>    
                <div class="nav-link" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/productDetail">Detalle del Producto</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register">Registro</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/productCart"><i class="fas fa-shopping-cart icon-car"></i></a>
                      </li>
                    </ul>
                </div>
                <form class="form-busqueda">
                    <input class="form-control" type="search" placeholder="Buscar..." >
                    <button class="btn-buscar" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="burger-menu">
                  <i class="fas fa-bars"></i>
                </div>
              </nav>
        </header>
    <form action = "/login" method="post">
        <div class="login">
            <br>
            <input type = "text" name "" placeholder = "Nombre de Usuario">
            <br>
            <br>
            <input type = "password" name = "clave" id = "password" placeholder = "Ingresá tu contraseña">
            <br>
            <input type = "radio" name = "recordarme" id = "recordarme">
            <label for ="recordarme">Recordarme</label>
            <br>
            <a href="/" class = "button"><input type="button" value="Enviar"></a>
            <a href="/" class = "button"><input type="button" value="Olvidé mi contraseña"></a>
        </div>
    </form>
</body>

    <footer id="footer">
        <div class="containerFooter">
            <section class="c-footer">
                <ul class="footer-list">
                  <li><a href="/" class="footer-link">Quienes somos</a></li>
                  <li><a href="/" class="footer-link">Mision</a></li>
                  <li><a href="/" class="footer-link">Vision</a></li>
                </ul>
            </section>
            <section class="c-footer">
              <ul class="footer-list">
                <li><a href="/" class="footer-link">Contáctanos</a></li>
                <li><a href="/" class="footer-link">Ubicación</a></li>
                <li><a href="/" class="footer-link">Dirección</a></li>
              </ul>
            </section>
            <section class="c-footer">
                <p class="ta-c">Redes Sociales</p>
                <div class="c-redes">
                  <a href="#"><i class="fab fa-facebook icon"></i></a>
                  <a href="#"><i class="fab fa-instagram icon"></i></a>
                  <a href="#"><i class="fab fa-whatsapp icon"></i></a>
                </div>
            </section>
        </div>
        <section class="copy">
            <p class="ta-c">Copyright © 2021-2022 PantsAlone C.A</p>
        </section>
      </footer>
      <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>   

