<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
<title>Document</title>
</head>
<header>
    <nav class="navbar">
        <div class="container-img">
            <a class="" href="#"><img class="img-header" src="/img/logo.png" alt=""></a>
        </div>    
        <div class="nav-link" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/productDetail">Detalle del Producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productCart"><i class="fas fa-shopping-cart icon-car"></i></a>
              </li>
            </ul>
        </div>
        <form class="form-busqueda">
            <input class="form-control" type="search" placeholder="Buscar..." >
            <button class="btn-buscar" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
</header>
<body>
    <main>
        <br>
        <section class="section-article">
            <article class="product-article">
                <div class="produtc-1"><img src="/img/pantMTiroAltoF.png" alt="PantMujerTiroAltoF"></div>
                <div class="small-pic">
                    <div class="product-2"><img src="/img/pantMTiroAltoT.png" alt="PantMTiroAltoT"></div>
                    <div class="product-3"><img src="/img/pantMTiroAltoD.png" alt="PantMTiroAltoD"></div>
                    <div class="product-4"><img src="/img/pantMTiroAltoI.png" alt="PantMTiroAltoI"></div>
                    
                </div>
                <div class="descProd">
                    <h3>Pantalon Mujer Tiro Alto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </article>
                
                <article class="box-description">    
                    </div class="description-art">
                    <h1>Nombre del Producto</h1>
                    <span class="priceProd">$ 5.000</span>
                    <div class="color"><span>Color</span></div>
                    <label for="Color">Negro: <input type="radio" name= "Color" value="Negro"></label>
                    <label for="Color">Azul: <input type="radio" name= "Color" value="Azul"></label>
                    <label for="Color">Celeste: <input type="radio" name= "Color" value="Celeste"></label>
                    <label for="Color">Blanco: <input type="radio" name= "Color" value="Blanco"></label>
                    <br>
                    
                    <div class="Talle"><span>Talle</span></div>
                    <a href="">-Tabla de talles-</a>
                    <label for="Talle">XS: <input type="radio" name= "Talle" value="XSmall"></label>
                    <label for="Talle">S: <input type="radio" name= "Talle" value="Small"></label>
                    <label for="Talle">M: <input type="radio" name= "Talle" value="Medium"></label>
                    <label for="Talle">L: <input type="radio" name= "Talle" value="Large"></label>
                    <label for="Talle">XL: <input type="radio" name= "Talle" value="XLarge"></label>
                    <label for="Talle">XXL: <input type="radio" name= "Talle" value="XXLarge"></label>
                    <br>
                    <span class="send">Metodos de Envio</span>
                    <span class="how-pay">Metodos de Pago</span>
                    <a href="/"><input class="add-button" type="button" value="Añadir al Carrito"></a>
                    <a class="nav-link" href="/productCart"><i class="fas fa-shopping-cart icon-car-prod"></i></a>
                    <div>
                </article>        
        </section>  
        <section class="buy"> 
            <article class="pay">  
                
                <p class="register">Registrate en PantsAlone.com</p>
                <a href="/" class="icon-footer"><i class="fas fa-credit-card"></i></a>
                <h3 class="title-footer">Pagá con tarjeta o en efectivo</h3>
            </article>
            <Article class="add-pay">  
                <p></p><i class="fas fa-gift icon-gift"></i></p>
                <h3 class="title-send">Pants Gift</h3>
                <p class="body-send">Con tu compra mayor a $10.000, el envio es gratis!.</p>
            </article>
        </section>
        <section class="tablas-talles">
          <div><h1>TABLA DE TALLES NñOS</h1> 
            <div class="Tabla-talles-ninios"><img src="/img/tabla-nina.png" alt="tabla-niña"></div>
            <div class="Tabla-talles-ninios"><img src="/img/tabla-nino.png" alt="tabla-niño"></div>
          </div>
          <div><h1>TABLA DE TALLES MUJER</h1>
            <div class="Tabla-talles-mujer"><img src="/img/tabla-mujer.png" alt="tabla-mujer"></div>
          </div>
          <div><h1>TABLA DE TALLES HOMBRE</h1>
            <div class="Tabla-talles-hombre"><img src="/img/tabla-hombre.png" alt="tabla-hombre"></div>
          </div>
        </section>
    </main>
    <footer id="footer">
        <div class="containerFooter">
            <section class="c-footer">
                <ul class="footer-list">
                  <li><a href="/" class="footer-link">Quienes somos</a></li>
                  <li><a href="/" class="footer-link">Mision</a></li>
                  <li><a href="/" class="footer-link">Vision</a></li>
                </ul>
            </section>
            <section class="c-footer">
              <ul class="footer-list">
                <li><a href="/" class="footer-link">Contáctanos</a></li>
                <li><a href="/" class="footer-link">Ubicación</a></li>
                <li><a href="/" class="footer-link">Dirección</a></li>
              </ul>
            </section>
            <section class="c-footer">
                <p class="ta-c">Redes Sociales</p>
                <div class="c-redes">
                  <a href="#"><i class="fab fa-facebook icon"></i></a>
                  <a href="#"><i class="fab fa-instagram icon"></i></a>
                  <a href="#"><i class="fab fa-whatsapp icon"></i></a>
                </div>
            </section>
        </div>
        <section class="copy">
            <p class="ta-c">Copyright © 2021-2022 PantsAlone C.A</p>
        </section>
      </footer>

      <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>

</body>
</html>