<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
<title>Document</title>
</head>
<body>
    <main>
        <br>
        <section class="section-article">
            <article class="product-article">
                <div class="product-1"><img src="" alt="PantMujerTiroAltoF"></div>
                <div class="small-pic">
                    <div class="product-2"><img src="" alt="PantMTiroAltoT"></div>
                    <div class="product-3"><img src="" alt="PantMTiroAltoD"></div>
                    <div class="product-4"><img src="" alt="PantMTiroAltoI"></div>
                    
                </div>
                <div class="descProd">
                    <h3>Pantalon Mujer Tiro Alto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </article>
                
                <article class="box-description">    
                    </div class="description-art">
                    <h1>Nombre del Producto</h1>
                    <span class="price">$ 5.000</span>
                    <div class="color"><span>Color</span></div>
                    <label for="Color">Negro: <input type="radio" name= "Color" value="Negro"></label>
                    <label for="Color">Azul: <input type="radio" name= "Color" value="Azul"></label>
                    <label for="Color">Celeste: <input type="radio" name= "Color" value="Celeste"></label>
                    <label for="Color">Blanco: <input type="radio" name= "Color" value="Blanco"></label>
                    <br>
                    
                    <div class="Talle"><span>Color</span></div>
                    <label for="Talle">XS: <input type="radio" name= "Talle" value="XSmall"></label>
                    <label for="Talle">S: <input type="radio" name= "Talle" value="Small"></label>
                    <label for="Talle">M: <input type="radio" name= "Talle" value="Medium"></label>
                    <label for="Talle">L: <input type="radio" name= "Talle" value="Large"></label>
                    <label for="Talle">XL: <input type="radio" name= "Talle" value="XLarge"></label>
                    <label for="Talle">XXL: <input type="radio" name= "Talle" value="XXLarge"></label>
                    <br>
                    <span class="send">Metodos de Envio</span>
                    <span class="how-pay">Metodos de Pago</span>
                    <a href="/"><input class="add-button" type="button" value="Añadir al Carrito"></a>
                    <div>
                </article>        
        </section>  
        <section class="buy"> 
            <article class="pay">  
                <h3 class="title-add">Añadi al Carrito</h3>
                <p class="register">Registrate en PantsAlone.com</p>
                <p class="icon-card"><i class="fa-thin fa-cart-shopping icon-card"></i></p>
                <p class="icon-footer"><i class="fas fa-credit-card"></i></p>
                <h3 class="title-footer">Pagá con tarjeta o en efectivo</h3>
            </article>
            <Article class="add-pay">  
                <p></p><i class="fas fa-gift icon-gift"></i></p>
                <h3 class="title-send">Pants Gift</h3>
                <p class="body-send">Con tu compra mayor a $10.000, el envio es gratis!.</p>
            </article>
        </section>

    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/2084a30261.js" crossorigin="anonymous"></script>
</body>
</html>