<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productCart.css">
    <title>productCart</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-img">
                <a class="" href="#"><img class="img-header" src="/img/logo.png" alt=""></a>
            </div>
            <div class="nav-link" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Detalle del Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar...">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </nav>
    </header>
    <main>
        <h2>Mi carrito de compras</h2>
        <div class="compras">
            <div class="nombreProducto">
                <h4>Pantalon 1</h4>
                <div class="descripcion">
                    <a href="">
                        <img name="fotopant" src="" alt="">
                    </a>
                    <span class="precio">$0000,00</span>
                    <div class="cantidad">
                        <a href="">
                            <i>
                                <span class="delete" >Eliminar</span>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>