@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Bakbak One', cursive;

}
h3{
    color: black;
    font-weight: 100;
    margin-left: 30px;
    text-align: left;
    display: flex;
}
.cantButton{
    border-radius: 5px;
    border: none;
    align-self: center;
}
.productName{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
.description{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
#file-upload-button{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
.imagenPerfil{
    text-align: center;
    border-radius: 5px;
    border: none;    
}
.colors{
    text-align: center;
    border-radius: 5px;
    border: none;  
}
.category{
    text-align: center;
    border-radius: 5px;
    border: none;  
}
.price{
    text-align: center;
    border-radius: 5px;
    border: none;  
}

