@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Bakbak One', cursive;
}
body{
    background-image: url(/img/background.jpg);
    background-size: cover;
    
}
h3{
    color: #fff;
    font-weight: 100;
    margin-left: 30px;
}
.ta-c{
    text-align: center;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5386A4;
    opacity: 0.9;
    /* border: solid 1px red; */
}
.container-img{
    width: 150px;
}
.img-header{
    width: 100%;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    color: white;
    width: 45%;
    letter-spacing: 1.5px;
}
.icon-car{
    font-size: 25px;
}
.form-busqueda{
    position: relative;
}
.form-control{
    line-height: 25px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.btn-buscar{
    line-height: 25px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
    cursor: pointer;
}
.burger-menu{
    display: none;
    transition: all 450ms;
}
/* Fin del header */
/* Inicio del Main */
.carrusel{
    width: 75%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c-carrusel{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    background-image: url(/img/img-carrusel1.png);
   background-size: 100% 100%;
   background-color: crimson;
    opacity: 0.9;
}
.arrow-left{
margin-right: 10px;
}
.arrow-right{
margin-left: 10px;
}
.c-section{
    width: 100%;
    background-color: #59859F;
    opacity: 0.9;
    padding: 20px 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.c-niño-sect1{
    width: 250px;
    
}
.c-niño-sect2{
    width: 150px;
    margin-bottom: 20px;
}
.sect1{
    border: 1px solid rgb(224, 207, 207);
    border-radius: 10px;
    margin-bottom: 20px;
}
.sect2{
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.c-img{
    display: flex;
    justify-content: center;
}
.img-pants{
    width: 100%;
    border-radius: 10px;
}
/* Inicio Footer */
#footer{
    margin-top: 200px;
    background-color: #5386A4;
    opacity: 0.9;
    letter-spacing: 1.5px;
    color: white;
}
.containerFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.c-footer{
    width: 250px;
    margin-bottom: 20px;
}
.footer-list{
    line-height: 2;
}
.footer-link{
    text-decoration: none;
    color: white;
    width: 45%;
    letter-spacing: 1.5px;
}
.copy p {
    margin-bottom: 0;
}
.c-redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.c-redes a{
    text-decoration: none;
}
.icon{
    font-size: 50px;
    color: white;
}
@media (max-width: 769px){
    .form-control{
        width: 95%;
    }
    .btn-buscar{
       position: absolute;
       right: 10px;
       background-color: #FFFFFF;
       border: none;
    }
    .burger-menu{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #A7CBBE;
        color:#004771;
        cursor: pointer;
        /* border: 1px solid #E1AFA0; */
        border-radius: 5px;
        top: 10px;
        right: 10px;
    }
    .burger-menu:hover{
        border-radius: 50%;
        background-color: #CFE3DD;
        color: #fff;
        transform: rotate(180deg);
    }
    .burger-menu i{
        font-size: 20px;
    }
    .nav-link{
        display: none;
    }
    /* Fin del header */
    /* main */
    .carrucel{
        display: none;
    }
}

@media (max-width: 400px){
    .container-img{
        width: 180px;
    }
    .form-busqueda{
        margin-bottom: 20px;
    }
    /* Fin del header */
}
@media (max-width: 361px){
    .inputBuscar{
        width: 70%;
    }
    /* Fin del header */
}