@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Bakbak One', cursive;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: "";
    background: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

h3{
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.ta-c{
    text-align: center;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5386A4;
    opacity: 0.9;
    /* border: solid 1px red; */
}
.container-img{
    width: 150px;
}
.img-header{
    width: 100%;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    color: white;
    width: 45%;
    letter-spacing: 1.5px;
}
.icon-car{
    font-size: 25px;
}
.form-busqueda{
    position: relative;
}
.form-control{
    line-height: 25px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.btn-buscar{
    line-height: 25px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
    cursor: pointer;
}
.burger-menu{
    display: none;
    transition: all 450ms;
}
/* Fin del header */
/* Inicio del Main */
.carrusel{
    width: 75%;
    margin: 75px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c-carrusel{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    background-image: url(/img/img-carrusel1.png);
   background-size: 100% 100%;
   background-color: crimson;
    opacity: 0.9;
}
.arrow-left{
margin-right: 10px;
}
.arrow-right{
margin-left: 10px;
}
.c-section{
    width: 100%;
    background-color: #59859F;
    opacity: 0.9;
    padding: 20px 0;
    margin: 40px 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.c-niño-sect1{
    width: 250px;
    
}
.c-niño-sect2{
    width: 150px;
    margin-bottom: 20px;
}
.sect1{
    /* border: 1px solid rgb(224, 207, 207); */
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    transition-duration: 1s;
}
.sect1:hover {
    transform: scale(1.1);
}
.sect1-enlace{
    text-decoration: none;
}
.c-img{
    display: flex;
    justify-content: center;
}
.img-pants{
    width: 100%;
    border-radius: 10px;
}
/* Inicio Footer */
#footer{
    background-color: #5386A4;
    opacity: 0.9;
    letter-spacing: 1.5px;
    color: white;
    height: 190px;
    width: 100%;
    margin-top: auto;
}
.containerFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.c-footer{
    width: 250px;
    margin-bottom: 20px;
}
.footer-list{
    line-height: 2;
}
.footer-link{
    text-decoration: none;
    color: white;
    width: 45%;
    letter-spacing: 1.5px;
}
.copy p {
    margin-bottom: 15px;
}
.c-redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.c-redes a{
    text-decoration: none;
}
.icon{
    font-size: 50px;
    color: white;
}
@media (max-width: 769px){
    .form-control{
        width: 95%;
    }
    .btn-buscar{
       position: absolute;
       right: 10px;
       background-color: #FFFFFF;
       border: none;
    }
    .burger-menu{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #A7CBBE;
        color:#004771;
        cursor: pointer;
        /* border: 1px solid #E1AFA0; */
        border-radius: 5px;
        top: 10px;
        right: 10px;
    }
    .burger-menu:hover{
        border-radius: 50%;
        background-color: #CFE3DD;
        color: #fff;
        transform: rotate(180deg);
    }
    .burger-menu i{
        font-size: 20px;
    }
    .nav-link{
        display: none;
    }
    /* Fin del header */
    /* main */
    .carrucel{
        display: none;
    }
}

@media (max-width: 400px){
    .container-img{
        width: 180px;
    }
    .form-busqueda{
        margin-bottom: 20px;
    }
    /* Fin del header */
}
@media (max-width: 361px){
    .inputBuscar{
        width: 70%;
    }
    /* Fin del header */
}

/* Create Products */
.overflow{
    overflow: auto;
    margin: 40px 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5386A4;
    opacity: 0.9;
    border-radius: 5px;
    
}
.formCreate{
    max-width: 425px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
}
.formItem{
    margin: 10px;
}
.formItem label{
    color: white;
    text-shadow: 1px 1px 3px black;

}

.id, .cantidad{
    border-radius: 5px;
    border: none;
    align-self: center;
    height: 30px;
}
.productName{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    height: 30px;
}
.description{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    height: 30px;
}
#file-upload-button{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
.imagenPerfil{
    text-align: center;
    border-radius: 5px;
    border: none;    
}
.colors{
    text-align: center;
    border-radius: 5px;
    border: none;  
}
.category{
    text-align: center;
    border-radius: 5px;
    border: none;
    height: 30px;  
}
.price{
    text-align: center;
    border-radius: 5px;
    border: none;
    height: 30px;  
}

/* Login */

.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: stretch;
    width: 50%;
    margin: auto;
}
.c-button {
    display: flex;
    flex-wrap: wrap;
}
.button {
    margin:15px;

}

.button :hover {
    background-color: #5386A4;
    color: white

}

/* Productos */
.containerProdcuto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.producto{
    background: #b8c9d3;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px 0;
    padding: 20px;
    text-shadow: 1px 1px 3px black;
    width: 300px;
}
.btn{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5386A4;
    color: white;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

/* Detalle producto */

.btnEliminar{
    margin: 0 auto;
}

button.btn{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5386A4;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}