<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %>  
    <form action = "/user/login" method="post">
        <div class="login">
            <br>
            <label> <b> Correo Electronico</b></label>
              <input type = "text" name ="email" >
              <!--  <% if (locals.email && errors.email) { %>
              <div class="danger">
               <%= errors.usuario.msg %>
              </div>
          <% } %>   -->
            <br>
            <br>
            <label> <b>Contraseña</b></label>
            <input type = "password" name = "clave" id = "password">
            <br>
            <label>
              <input type="checkbox" class="recordarme" name="remember_user">Recordar mi usuario
            </label>
            <br>
            <button  class = "button"> <input type="submit" value="Enviar"></button>
            <a href="/" class = "button"><input type="button" value="Olvidé mi contraseña"></a>
        </div>
    </form>
  <%- include('../partials/footer') %> 
  <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>   
</body>
</html>


    

