<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  <section class="overflow">
    <form class="formCreate" action="/user/register" method="POST">
        <div class="formItem">
            <label>Nombre y apellido:</label>
            <input class="productName" type= "text" name='fullName'>
        </div>
        <div class="formItem">
            <label>Nombre de usuario:</label>
            <input class="description" type= "text" name='usuario'>
        </div>
        <div class="formItem">
            <label>Email:</label>
            <input class="cantidad" type="email" name='email'>
        </div>
        <div class="formItem">
            <label>Contraseña:</label>
            <input type="password" name="clave">
        </div>
        <div class="formItem">
            <label>Confirmar contrasela:</label>
            <input type="password" name="confirmClave">
        </div>
        <div class="formItem">
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha">
        </div>
        <div class="formItem">
            <label>Elegi un pais</label>
            <select name="country" id="country" style="appearance:menulist-button;">
                <option value="-">-</option>
                <option value="Arg">Argentina</option>
                <option value="Bol">Bolivia</option>
                <option value="Bra">Brasil</option>
                <option value="Col">Colombia</option>
                <option value="Chi">Chile</option>
                <option value="Ecu">Ecuador</option>
                <option value="Para">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Uru">Uruguay</option>
                <option value="Ven">Venezuela</option>
            </select>
        </div>
        <div class="formItem">
            <label>Genero:</label>
            <input type="radio" name="genero" value="mujer"> Mujer
            <input type="radio" name="genero" value="hombre"> Hombre
            <input type="radio" name="genero" value="otro"> Otro
        </div>
        <div class="btns">
            <button class="editButton" type="submit" value="crear" name='crear'>Crear</button>
            <button class="botonDelete" type="reset" value="borrar" name='borrar'>Borrar</button>
            
        </div>
    </form>
  </section>
  <%- include('../partials/footer') %> 
  <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>