<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <section class="overflow">
        <form class="formCreate" action="/products/createProduct" method="POST">
            <div class="formItem">
                <label>Nombre</label>
                <input class="productName" type= "text" name='name'>
            </div>
            <div class="formItem">
                <label>Descripción</label>
                <input class="description" type= "text" name='descripcion'>
            </div>
            <div class="formItem">
                <label>Cantidad</label>
                <input class="cantidad" type="number" name='cantidad'>
            </div>
            <div class="formItem">
                <label>Imagen</label>
                <input type="file" name="imagen" accept=".jpg" multiple>
            </div>
            <div class="formItem">
                <label>Categoría</label>
                <select class="category" name="categoria" id="categoria" style="appearance:menulist-button;">
                    <option value="-">-</option>
                    <option value="Woman">Woman</option>
                    <option value="Men">Men</option>
                    <option value="Kids">Kids</option>
                </select>
            </div>
            <div class="formItem">
                <label>Colores</label>
                <select class="colors" name="colores" id="colores" style="appearance:menulist-button;">
                    <option value="Blue">Blue</option>
                    <option value="Grey">Grey</option>
                    <option value="White">White</option>
                    <option value="Black">Black</option>
                </select>
            </div>
            <div class="formItem">
                <label>Talla</label>
                <select class="cantButton" name="tallas" id="tall" style="appearance:menulist-button;">
                    <option value="xs">xs</option>
                    <option value="s">s</option>
                    <option value="m">m</option>
                    <option value="l">l</option>
                    <option value="xl">xl</option>
                    <option value="xxl">xxl</option>
                </select>
            </div>
            <div class="formItem">
                <label>Precio</label>
                <input class="price" type="text" name='precio'>
                <br>
            </div>
            <div class="btns">
                <button class="editButton" type="submit" value="crear" name='crear'>Crear</button>
                <button class="botonDelete" type="reset" value="borrar" name='borrar'>Borrar</button>
                
            </div>
        </form>
    </section>
                           
                        
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>