<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <h3>Id</h3>
            <input class="cantButton" type="text">
            <h3>Nombre del Producto</h3>
            <input class="productName" type= "text">
            <h3>Descripción</h3>
            <input class="description" type= "text">
            <label for="Selecciona una imagen de Perfil":></label>
            <h3>Imagen</h3>
                <input type="file" name="avatar" accept=".jpg" multiple>
            <h3>Categoría</h3>
            <input class="category" type="text">
            <h3>Colores</h3>
<select class="colors" name="colores" id="colores" style="appearance:menulist-button;">
              <option value="0">Blue</option>
              <option value="1">Grey</option>
              <option value="2">White</option>
              </select>
              <h3>Talle</h3>
            <select class="cantButton" name="Talle" id="talle" style="appearance:menulist-button;">
                    <option value="xs">xs</option>
                    <option value="s">s</option>
                    <option value="m">m</option>
                    <option value="l">l</option>
                    <option value="xl">xl</option>
                    <option value="xxl">xxl</option>
            </select>
            <h3>Precio</h3>
            <input class="price" type="text">
            <br>
            <a href=""><input class="editButton" type="submit" value="Crear"></a>
            <a href=""><input class="botonDelete" type="reset" value="Borrar"></a>
                           
                        
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>