<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main>
        <h2>Mis compras</h2>
        <section class="compras">
            <div class="nombreProducto">
                <h4 class="artNum">Artículo 1</h4>
                <div class="descripcion">
                    <a href=""><img name="fotopant" src="/img/pantMTiroAltoD.png" width="100px" height="100px"
                            alt=""></a>
                    <div class="container">
                        <span>Cantidad</span>
                        <select class="cantButton" name="cantidad" id="cantidad" style="appearance:menulist-button;">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <a href=""><i class="far fa-trash-alt"></i><input class="botonDelete" type="reset"
                                value="   Borrar"></a>
                        <div class="descriPrecio">
                            <span>Pantalón tiro alto mujer</span>
                            <span>$10.500,00</span>
                        </div>
                        <div class="impuestoCosto">
                            <span>Impuestos</span>
                            <span>$0,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="compras">
            <div class="nombreProducto">
                <h4 class="artNum">Artículo 2</h4>
                <div class="descripcion">
                    <a href=""><img name="fotopant" src="/img/pantMTiroAltoF.png" width="100px" height="100px"
                            alt=""></a>
                    <div class="container">
                        <span>Cantidad</span>
                        <select class="cantButton" name="cantidad" id="cantidad" style="appearance:menulist-button;">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <a href=""><i class="far fa-trash-alt"></i><input class="botonDelete" type="reset"
                                value="   Borrar"></a>
                        <div class="descriPrecio">
                            <span>Jean Tiro alto mujer con detalles</span>
                            <span>$15.000,00</span>
                        </div>
                        <div class="impuestoCosto">
                            <span>Impuestos</span>
                            <span>$0,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="containerResumen">
                <p id="desc">Ingresá tu código de descuento</p><input class="barraDesc" type="text"><a href=""><input
                        class="aplicarDesc" type="submit" value="Aplicar"></a>
                <div class="envioCosto">
                    <span>Envío</span>
                    <span>$600,00</span>
                 </div>
                <div class="precioSubtotal">
                    <span>Subtotal</span>
                    <span>$26.100,00</span>
                </div>
                <div class="precioTotal">
                    <span class="total">Total</span>
                    <span>$26.100,00</span>
                </div>
                <div class="buyNow">
                    <a href="/"><input class="buyContinue" type="submit" value="Seguir comprando"></a>
                    <a href=""><input class="buyButton" type="submit" value="Comprar ahora"></a>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>